<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <h1>Ustal nowe hasło</h1>

    <main>
        <% if (errorMessage) { %>
        <div>
            <%= errorMessage %>
        </div>
        <% } %>
        <form action="/auth/reset_password_completed" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrf %>">
            <input type="password" name="newPassword">
            <input type="hidden" name="userId" value="<%= userId %>">
            <input type="hidden" name="token" value="<%= token %>">
            <button type="submit">Aktualizuję hasło</button>
        </form>
    </main>

    <%- include('../includes/end.ejs') %>