<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <h1>Reset hasła</h1>

    <main>
        <% if (errorMessage) { %>
        <div>
            <%= errorMessage %>
        </div>
        <% } %>
        <form action="/auth/reset" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrf %>">
            <label for="userEmail">Podaj adres email</label>
            <input type="email" name="email" id="userEmail">
            <button type="submit">Przypomnij hasło</button>
        </form>

    </main>

    <%- include('../includes/end.ejs') %>