<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Strona główna</h1>

    <main>
        <% if (posts.length > 0) { %>
        <% for (post of posts) { %>
        <article>
            <img src="/<%= post.image %>" alt="article-photo">
            <h3>
                <%= post.title %>
            </h3>
            <% if (user.isSuperuser) { %>
            <p>
                <a href="/admin/edit-post/<%= post.id %>">Edytuj</a>
                <input name="postId" type="hidden" value="<%= post.id %>">
                <input type="hidden" name="_csrf" value="<%= csrf %>">
                <button type="button" onclick="deletePost(this)">Usuń</button>
            </p>
            <% } %>
            <span><%= post.createdAt %></span>
            <hr>
        </article>
        <% } %>
        <section class="pagination">
            <% if (currentPage !== 1 && previousPage !== 1) { %>
            <a href="?p=1">1</a>
            <% } %>

            <% if (hasPreviousPage) { %>
            <a href="?p=<%= previousPage %>"><%= previousPage %></a>
            <% } %>

            <a href="?p=<%= currentPage %>"><%= currentPage %></a>

            <% if (hasNextPage) { %>
            <a href="?p=<%= nextPage %>"><%= nextPage %></a>
            <% } %>

            <% if (lastPage !== currentPage && nextPage !== lastPage) { %>
            <a href="?p=<%= lastPage %>"><%= lastPage %></a>
            <% } %>
        </section>
        <% } else { %>
        <h1>
            Brak postów do wyświetlenia
        </h1>
        <% } %>
    </main>

    <%- include('includes/end.ejs') %>
    <script src="/js/index/index.js"></script>