<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Strona główna</h1>

    <main>
        <% if (posts.length > 0) { %>
            <% for (post of posts) { %>
                <img src="/<%= post.image %>" alt="article-photo">
                    <h3>
                        <%= post.title %>
                    </h3>
                    <p>
                        <a href="/admin/edit-post/<%= post.id %>">Edytuj</a>
                    </p>
                <span><%= post.createdAt %></span>
                <hr>
            <% } %>
            Nic więcej nie ma
        <% } else { %>
        <h1>
            Brak postów do wyświetlenia
        </h1>
        <% } %>
    </main>

    <%- include('includes/end.ejs') %>